In [96]:
import os
import numpy as np
import pandas as pd
import dateutil.relativedelta
from datetime import date
import warnings
import functools
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"
def add_year_month_and_filter_oneoff(McK_Oneoff, cols=None):
    McK_Oneoff['DataDate']=pd.to_datetime(McK_Oneoff['DataDate'],format='mixed')
    McK_Oneoff['Year_Month_Obs']=McK_Oneoff['DataDate'].dt.strftime('%Y-%m')
    McK_Oneoff=McK_Oneoff.reset_index(drop=True)
    print(">>>>> Year_Month_Obs column added to McK_Oneoff  <<<<<")
    if not cols:
        cols=[
            'LoanNumber',
            'LoanType',
            'PrincipalBalance',
            'NextDueDate',
            'InterestPaidToDate',
            'DateLastPayment',
            'InterestRate',
            'OriginalInterestRate',
            'PropertyCityName',
            'PropertyState',
            'PropertyZipCode',
            'MailingCity',
            'MailingState',
            'MailingZip',
            'FICO_Score',
            'FicoDate',
            'BankruptcyFlag',
            'LossMitigationStatus',
            'ForeclosureStatus',
            'DLQ_Status',
            'NoteDate',
            'ServicingDate',
            'TransferDate',
            'PiPmt',
            'EscrowPayment',
            'EscrowBalance',
            'ReportToCreditBureau',
            'AppraisalDate',
            'AppraisedAmount',
            'Original_Ltv_Calc',
            'CurrentLTV',
            'PriorServicerName',
            'InvestorOwner',
            'AcquiredPortfolioName',
            'PrimaryBorrowerOptOut',
            'SecondaryBorrowerOptOut',
            'TermOfLoan',
            'RemainingTerm',
            'FIXED ARM',
            'SaleAmount',
            'OriginalBalance',
            'RawLeadType',
            'ForbearanceFlag',
            'Year_Month_Obs'
        ]
    McK_Oneoff = McK_Oneoff[cols]
    print(">>>>> McK_Oneoff filtered for the needed columns <<<<<")

    return  McK_Oneoff

In [97]:
mck_oneoff_data_load = pd.read_csv(r"C:\Users\12098\Downloads\BSI model\1-Data Source\Interest Data\Input_Data\Copy of MCK_ONEOFF_11_02_2023.csv")

In [98]:
%%time
mck_oneoff_data=add_year_month_and_filter_oneoff(mck_oneoff_data_load)
mck_oneoff_data.head(1)
month_counts = mck_oneoff_data[(mck_oneoff_data['Year_Month_Obs'] >= '2022-09-01')]
month_counts['Year_Month_Obs'].value_counts()
mck_oneoff_data['Year_Month_Obs'] = pd.to_datetime(mck_oneoff_data['Year_Month_Obs'])
print(mck_oneoff_data.shape)
import functools
def disjunction_add(*conditions):
    return functools.reduce(np.logical_and, conditions)

c_1 =mck_oneoff_data['Year_Month_Obs']>'2022-08'
c_2 =mck_oneoff_data['Year_Month_Obs']<='2023-08'

mck_oneoff_data_filtered_df = mck_oneoff_data[disjunction_add(c_1,c_2)].reset_index(drop=True)
print(mck_oneoff_data_filtered_df.shape)
print(mck_oneoff_data_filtered_df['Year_Month_Obs'].value_counts())

>>>>> Year_Month_Obs column added to McK_Oneoff  <<<<<
>>>>> McK_Oneoff filtered for the needed columns <<<<<
(4160702, 44)
(1692667, 44)
Year_Month_Obs
2022-11-01    151091
2022-10-01    148476
2022-09-01    147535
2023-04-01    143683
2023-03-01    143142
2023-02-01    142823
2023-01-01    142594
2022-12-01    140671
2023-07-01    137079
2023-06-01    136713
2023-05-01    135436
2023-08-01    123424
Name: count, dtype: int64
CPU times: total: 43.3 s
Wall time: 1min

In [99]:
mck_oneoff_extract_column = mck_oneoff_data_filtered_df[['LoanNumber','LoanType','InterestRate','OriginalInterestRate','FICO_Score','Original_Ltv_Calc','CurrentLTV',
                 'TermOfLoan','RemainingTerm','Year_Month_Obs']]
mck_oneoff_extract_column.head()
mck_oneoff_extract_column.shape
mck_oneoff_extract_column["FICO_Score"].isna().sum()
mck_oneoff_extract_column["Year_Month_Obs"].min()
mck_oneoff_extract_column["Year_Month_Obs"].max()
mck_oneoff_extract_column["LoanNumber"].duplicated().sum()
mck_oneoff_extract_column["LoanNumber"].nunique
mck_oneoff_extract_column[mck_oneoff_extract_column["FICO_Score"].isna()==True]

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs
0,131407065,CONVENTIONAL,4.375,4.375,694.0,70.51,59.61,360,264,2022-09-01
1,411401020,CONVENTIONAL,4.625,4.625,627.0,86.63,71.75,360,256,2022-09-01
2,411404017,CONVENTIONAL,4.375,4.375,748.0,103.87,87.62,360,263,2022-09-01
3,301062,CONVENTIONAL,3.250,3.250,756.0,80.00,33.42,180,65,2022-09-01
4,2080201,CONVENTIONAL,3.250,3.250,0.0,80.00,32.52,180,63,2022-09-01

(1692667, 10)

492

Timestamp('2022-09-01 00:00:00')

Timestamp('2023-08-01 00:00:00')

1528421

<bound method IndexOpsMixin.nunique of 0           131407065
1           411401020
2           411404017
3              301062
4             2080201
              ...
1692662    1218033789
1692663    1218570114
1692664    1218271876
1692665    1218272445
1692666    1401607999
Name: LoanNumber, Length: 1692667, dtype: int64>

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs
8,60031,CONVENTIONAL,3.375,3.375,NaN,52.63,20.24,180,59,2022-09-01
9,10014,CONVENTIONAL,3.000,3.000,NaN,78.65,14.19,180,59,2022-09-01
22,70092,CONVENTIONAL,3.000,3.000,NaN,55.52,12.30,180,59,2022-09-01
68,207018,CONVENTIONAL,3.375,3.375,NaN,72.28,27.81,180,59,2022-09-01
69,207064,PMI,4.250,4.250,NaN,96.60,76.49,360,239,2022-09-01
...,...,...,...,...,...,...,...,...,...,...
1618148,8320027874,PMI,5.125,5.125,NaN,82.84,71.72,360,267,2023-08-01
1618155,100758,CONVENTIONAL,2.875,2.875,NaN,44.61,0.41,120,3,2023-08-01
1618159,88601466,CONVENTIONAL,6.250,6.250,NaN,37.04,29.41,360,218,2023-08-01
1618162,80031,CONVENTIONAL,3.500,3.500,NaN,49.85,48.69,360,346,2023-08-01
1645984,100812,CONVENTIONAL,3.125,3.125,NaN,79.28,68.08,180,149,2023-08-01

In [100]:
mck_oneoff_extract_column["CurrentLTV"].isna().sum()
mck_oneoff_extract_column["LoanType"].unique()
mck_oneoff_extract_column["LoanType"].value_counts()
mck_oneoff_extract_column["LoanType"].isna().sum()
mck_oneoff_extract_column[mck_oneoff_extract_column["LoanType"].isna()==True]
mck_oneoff_extract_column.shape
mck_oneoff_extract_column_unique = mck_oneoff_extract_column.sort_values(['Year_Month_Obs']).groupby(['LoanNumber']).last().reset_index()
print(mck_oneoff_extract_column_unique.shape)
mck_oneoff_extract_column_unique.head(2)
mck_oneoff_extract_column_unique.dtypes

0

array(['CONVENTIONAL', 'PMI', 'VA', 'FHA', nan], dtype=object)

LoanType
CONVENTIONAL    974345
PMI             312401
FHA             264981
VA              140933
Name: count, dtype: int64

7

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs
783316,84629181,NaN,8.375,4.125,709.0,9.85,2.59,240,38,2023-02-01
925685,84629181,NaN,8.625,4.125,709.0,9.85,2.56,240,37,2023-03-01
1069449,84629181,NaN,8.875,4.125,709.0,9.85,2.47,240,35,2023-04-01
1210300,84629181,NaN,8.875,4.125,709.0,9.85,2.39,240,35,2023-05-01
1349431,84629181,NaN,8.875,4.125,709.0,9.85,2.33,240,34,2023-06-01
1438301,84629181,NaN,9.125,4.125,709.0,9.85,2.29,240,33,2023-07-01
1615974,84629181,NaN,9.375,4.125,709.0,9.85,2.29,240,33,2023-08-01

(1692667, 10)

(164246, 10)

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs
0,791,CONVENTIONAL,2.750,2.750,777.0,66.67,22.06,180,55,2023-08-01
1,1235,CONVENTIONAL,2.875,2.875,608.0,63.15,22.95,180,57,2023-08-01

LoanNumber                       int64
LoanType                        object
InterestRate                   float64
OriginalInterestRate           float64
FICO_Score                     float64
Original_Ltv_Calc              float64
CurrentLTV                     float64
TermOfLoan                       int64
RemainingTerm                    int64
Year_Month_Obs          datetime64[ns]
dtype: object

In [21]:
# Root directory where the files are located
root_directory = r"C:\Users\12098\Downloads\BSI model\1-Data Source\Target Data\Input_Data\Payoffs Reasons"

# List of file names and the corresponding sheet names (if required)
payoff_files = [
    ('Payoff Reason_NOV_22.xlsx', 'Ent_Int_EMT_PayoffReason_LnLvl'),
    ('PayoffReason Dec_2022_.xlsx', None),
    ('Payoff Reason Jan 2023.xlsx', None),
    ('PayoffReason_Feb_2023.xlsx', None),
    ('March Month End Payoff Report.xlsx', 'Data'),
    ('April Sold vs Refi EOM report.xlsx', None),
    ('Payoff Reason_May_2023.xlsx', 'Sheet1'),
    ('Payoff Reason Report-June_23.xlsx', 'Sheet1'),
    ('Payoff Reason Report-July.xlsx', 'Sheet1'),
    ('Payoff Reason Report- Aug.xlsx', None)
]

# Initialize an empty dictionary to store the loaded dataframes
payoff_reason_data = {}

# Loop over each file and load the data into a dictionary
for filename, sheet in payoff_files:
    loc = os.path.join(root_directory, filename)
    if sheet:
        df = pd.read_excel(loc, sheet_name=sheet)
    else:
        df = pd.read_excel(loc)
    
    # Store the dataframe in the dictionary with the corresponding filename (without extension) as key
    key = filename.split('.')[0]
    payoff_reason_data[key] = df

# Access the dataframes using payoff_reason_data['Payoff Reason_NOV_22'], etc.

In [101]:
# Correct root directory
root_directory = r"C:\Users\12098\Downloads\BSI model\1-Data Source\Target Data\Input_Data\Payoffs Reasons"

# No need to append 'Payoffs Reasons' again
loc = os.path.join(root_directory, 'Payoff Reason_NOV_22.xlsx')
Payoff_Reason_2211 = pd.read_excel(loc, sheet_name='Ent_Int_EMT_PayoffReason_LnLvl')

loc = os.path.join(root_directory, 'PayoffReason Dec_2022_.xlsx')
Payoff_Reason_2212 = pd.read_excel(loc)

loc = os.path.join(root_directory, 'Payoff Reason Jan 2023.xlsx')
Payoff_Reason_2301 = pd.read_excel(loc)

loc = os.path.join(root_directory, 'PayoffReason_Feb_2023.xlsx')
Payoff_Reason_2302 = pd.read_excel(loc)

loc = os.path.join(root_directory, 'March Month End Payoff Report.xlsx')
Payoff_Reason_2303 = pd.read_excel(loc, sheet_name='Data')

loc = os.path.join(root_directory, 'April Sold vs Refi EOM report.xlsx')
Payoff_Reason_2304 = pd.read_excel(loc)

loc = os.path.join(root_directory, 'Payoff Reason_May_2023.xlsx')
Payoff_Reason_2305 = pd.read_excel(loc, sheet_name='Sheet1')

loc = os.path.join(root_directory, 'Payoff Reason Report-June_23.xlsx')
Payoff_Reason_2306 = pd.read_excel(loc, sheet_name='Sheet1')

loc = os.path.join(root_directory, 'Payoff Reason Report-July.xlsx')
Payoff_Reason_2307 = pd.read_excel(loc, sheet_name='Sheet1')

loc = os.path.join(root_directory, 'Payoff Reason Report- Aug.xlsx')
Payoff_Reason_2308 = pd.read_excel(loc)

In [102]:
# Each monthly file has non-uniform column names
# we first select by non-uniform names
columns=['Loan Number',
         'Date Paid Off',
         'Reason Closed_Redifn',
         'Reason Closed',
         'Note Rate',
         'UPB At  Payoff',
         'Original  Value',
         'Current Value',
         'Current LTV % ',
         'Original LTV % ',
         'Term of Loan',
         'Remaining  Term',
         'Investor',
         'Seller',
         'Credit Score']

filtered_Payoff_Reason_2211=Payoff_Reason_2211.loc[:,columns]
filtered_Payoff_Reason_2212=Payoff_Reason_2212.loc[:,columns]
filtered_Payoff_Reason_2301=Payoff_Reason_2301.loc[:,columns]
filtered_Payoff_Reason_2302=Payoff_Reason_2302.loc[:,columns]

columns=['Loan Number',
         'Date Paid Off',
         'Reason Closed_Redifn',
         'Reason Closed',
         'Note Rate',
         'UPB At Payoff',
         'Original Value',
         'Current Value',
         'Current LTV %',
         'Original LTV %',
         'Term of Loan',
         'Remaining Term',
         'Investor',
         'Seller',
         'Credit Score']
filtered_Payoff_Reason_2303=Payoff_Reason_2303.loc[:,columns]
filtered_Payoff_Reason_2304=Payoff_Reason_2304.loc[:,columns]
filtered_Payoff_Reason_2305=Payoff_Reason_2305.loc[:,columns]
filtered_Payoff_Reason_2306=Payoff_Reason_2306.loc[:,columns]
filtered_Payoff_Reason_2307=Payoff_Reason_2307.loc[:,columns]
filtered_Payoff_Reason_2308=Payoff_Reason_2308.loc[:,columns]

# Then we assign the uniform column names
columns=['Loan_Number',
         'Date_Paid_Off',
         'Reason_Closed_Redifn',
         'Reason_Closed',
         'Note_Rate',
         'UPB_At_Payoff',
         'Original_Value',
         'Current_Value',
         'Current_LTV_%',
         'Original_LTV_%',
         'Term_of_Loan',
         'Remaining_Term',
         'Investor',
         'Seller',
         'Credit_Score']
filtered_Payoff_Reason_2211.columns=columns
filtered_Payoff_Reason_2212.columns=columns
filtered_Payoff_Reason_2301.columns=columns
filtered_Payoff_Reason_2302.columns=columns
filtered_Payoff_Reason_2303.columns=columns
filtered_Payoff_Reason_2304.columns=columns
filtered_Payoff_Reason_2305.columns=columns
filtered_Payoff_Reason_2306.columns=columns
filtered_Payoff_Reason_2307.columns=columns
filtered_Payoff_Reason_2308.columns=columns

In [103]:
# merge to one payoff reason set
All_Payoff_Reason=pd.concat([
    filtered_Payoff_Reason_2211,
    filtered_Payoff_Reason_2212,
    filtered_Payoff_Reason_2301,
    filtered_Payoff_Reason_2302,
    filtered_Payoff_Reason_2303,
    filtered_Payoff_Reason_2304,
    filtered_Payoff_Reason_2305,
    filtered_Payoff_Reason_2306,
    filtered_Payoff_Reason_2307,
    filtered_Payoff_Reason_2308],axis=0
)

All_Payoff_Reason.head()

,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
0,1.401374e+09,2022-11-18,Sold Nov'22,PIF,2.625,342864.58,390000.0,680000.0,0.0,0.573529,180.0,156.0,BSI,FHLMC,0.0
1,1.401560e+09,2022-11-18,OFF MARKET,PIF,3.250,182016.84,191500.0,272000.0,0.0,0.704044,360.0,331.0,BSI,FHLMC,0.0
2,1.401025e+09,2022-11-30,Sold Nov'22,PIF,4.750,380144.69,417000.0,925000.0,0.0,0.450811,360.0,213.0,BSI,FNMA,745.0
3,1.401095e+09,2022-11-30,OFF MARKET,PIF,2.375,223350.86,252000.0,700000.0,0.0,0.360000,180.0,156.0,BSI,FHLMC,774.0
4,1.401365e+09,2022-11-30,OFF MARKET,PIF,2.875,269278.66,282000.0,366000.0,0.0,0.770492,360.0,335.0,BSI,FNMA,0.0

In [104]:
All_Payoff_Reason.shape

(5819, 15)

In [105]:
All_Payoff_Reason["Reason_Closed"].value_counts()
All_Payoff_Reason=All_Payoff_Reason[(All_Payoff_Reason["Reason_Closed"]!="REO") & (All_Payoff_Reason["Reason_Closed"]!="SS")]
All_Payoff_Reason['Reason_Closed_Redifn']=All_Payoff_Reason['Reason_Closed_Redifn'].astype(str)
All_Payoff_Reason['Reason_Closed_Redifn']=All_Payoff_Reason['Reason_Closed_Redifn'].str.lower()
All_Payoff_Reason['Reason_Closed_Redifn'] = All_Payoff_Reason['Reason_Closed_Redifn'].apply(lambda x: x.strip())
All_Payoff_Reason=All_Payoff_Reason[All_Payoff_Reason['Reason_Closed_Redifn']!='nan']
All_Payoff_Reason["Reason_Closed_Redifn"].value_counts()

Reason_Closed
PIF                    5720
RELEASED                 43
3RDPRTY                  36
REO                      13
2023-04-28 00:00:00       1
SS                        1
Name: count, dtype: int64

Reason_Closed_Redifn
off market                 1866
sold jun'23                 438
sold july'23                428
sold may'23                 420
sold apr'23                 402
sold mar'23                 394
sold aug'23                 368
sold feb'23                 286
sold nov'22                 271
sold dec'22                 259
sold jan'23                 194
sold                        154
pending                      87
not found                    45
for sale                     38
sold june'23                 29
sale pending                 16
sold jul'23                  15
under contract               10
for rent                      8
not available                 8
offmarket                     7
accepting backups             4
contingent                    4
house for rent                3
under constract               2
active under contract         2
sold oct'22                   2
sold dec'23                   1
sold aug'22                   1
rent                          1
pending  - bring backup       1
Name: count, dtype: int64

In [106]:
1866+45+8+8+7+3+1

1938

In [107]:
All_Payoff_Reason=All_Payoff_Reason[All_Payoff_Reason["Reason_Closed_Redifn"].isin(["off market","not found","for rent",
                                                                                   "not available","offmarket","house for rent",
                                                                                   "rent"])]
All_Payoff_Reason.shape
All_Payoff_Reason.head(1)
All_Payoff_Reason.reset_index(inplace=True)
All_Payoff_Reason.dtypes
All_Payoff_Reason["Loan_Number"]=All_Payoff_Reason["Loan_Number"].astype("int64")
All_Payoff_Reason.dtypes
All_Payoff_Reason

(1938, 15)

,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
1,1.401560e+09,2022-11-18,off market,PIF,3.25,182016.84,191500.0,272000.0,0.0,0.704044,360.0,331.0,BSI,FHLMC,0.0

index                            int64
Loan_Number                    float64
Date_Paid_Off           datetime64[ns]
Reason_Closed_Redifn            object
Reason_Closed                   object
Note_Rate                      float64
UPB_At_Payoff                  float64
Original_Value                 float64
Current_Value                  float64
Current_LTV_%                  float64
Original_LTV_%                 float64
Term_of_Loan                   float64
Remaining_Term                 float64
Investor                        object
Seller                          object
Credit_Score                   float64
dtype: object

index                            int64
Loan_Number                      int64
Date_Paid_Off           datetime64[ns]
Reason_Closed_Redifn            object
Reason_Closed                   object
Note_Rate                      float64
UPB_At_Payoff                  float64
Original_Value                 float64
Current_Value                  float64
Current_LTV_%                  float64
Original_LTV_%                 float64
Term_of_Loan                   float64
Remaining_Term                 float64
Investor                        object
Seller                          object
Credit_Score                   float64
dtype: object

,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
0,1,1401560016,2022-11-18,off market,PIF,3.250,182016.84,191500.0,272000.0,0.0,0.704044,360.0,331.0,BSI,FHLMC,0.0
1,3,1401094852,2022-11-30,off market,PIF,2.375,223350.86,252000.0,700000.0,0.0,0.360000,180.0,156.0,BSI,FHLMC,774.0
2,4,1401364919,2022-11-30,off market,PIF,2.875,269278.66,282000.0,366000.0,0.0,0.770492,360.0,335.0,BSI,FNMA,0.0
3,5,1401379649,2022-11-30,off market,PIF,2.875,446936.60,478600.0,539000.0,0.0,0.887941,360.0,337.0,BSI,FNMA,0.0
4,7,1401115149,2022-11-28,off market,PIF,2.625,1750.48,185000.0,375000.0,0.0,0.493333,120.0,1.0,BSI,FHLMC,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1933,608,4021044320,2023-08-07,not found,PIF,3.380,150295.81,157102.0,160000.0,0.0,0.981900,360.0,334.0,BSI,GNMA,584.0
1934,611,1110076808,2023-08-16,off market,PIF,3.130,46922.16,185000.0,285000.0,0.0,0.649100,180.0,88.0,BSI,FNMA,777.0
1935,612,1110086024,2023-08-11,off market,PIF,2.750,3248.64,234800.0,605000.0,0.0,0.388100,180.0,98.0,BSI,FNMA,809.0
1936,613,1401963834,2023-08-07,off market,PIF,3.630,167656.07,219190.0,275000.0,0.0,0.797100,360.0,239.0,BSI,FNMA,791.0
1937,614,1401401035,2023-08-10,off market,PIF,3.630,38139.53,137000.0,191000.0,0.0,0.717300,180.0,86.0,BSI,FNMA,811.0

In [108]:
Column_Data=All_Payoff_Reason['Loan_Number']
for value in Column_Data:
    if'-' in str(value):
        print(value)

In [109]:
All_Payoff_Reason[All_Payoff_Reason["Loan_Number"]==2147483648]

Empty DataFrame
Columns: [index, Loan_Number, Date_Paid_Off, Reason_Closed_Redifn, Reason_Closed, Note_Rate, UPB_At_Payoff, Original_Value, Current_Value, Current_LTV_%, Original_LTV_%, Term_of_Loan, Remaining_Term, Investor, Seller, Credit_Score]
Index: []

In [110]:
All_Payoff_Reason[All_Payoff_Reason["Loan_Number"]==-2147483648]

Empty DataFrame
Columns: [index, Loan_Number, Date_Paid_Off, Reason_Closed_Redifn, Reason_Closed, Note_Rate, UPB_At_Payoff, Original_Value, Current_Value, Current_LTV_%, Original_LTV_%, Term_of_Loan, Remaining_Term, Investor, Seller, Credit_Score]
Index: []

In [111]:
mck_oneoff_specific_column=mck_oneoff_extract_column_unique.merge(All_Payoff_Reason, how="left", left_on="LoanNumber",right_on="Loan_Number")

print(mck_oneoff_extract_column_unique.shape)
print(mck_oneoff_specific_column.shape)

(164246, 10)
(164247, 26)

In [112]:
mck_oneoff_specific_column[mck_oneoff_specific_column["LoanNumber"].duplicated()==True]

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
70504,1401145654,FHA,5.75,5.75,565.0,97.3,96.04,360,348,2023-03-01,0.0,1.401146e+09,2023-08-31,off market,3RDPRTY,5.75,0.0,107025.0,110000.0,0.0,0.973,360.0,348.0,BSI,FHA,565.0

In [113]:
mck_oneoff_specific_column[mck_oneoff_specific_column["LoanNumber"]==1401145654]

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
70503,1401145654,FHA,5.75,5.75,565.0,97.3,96.04,360,348,2023-03-01,44.0,1.401146e+09,2023-04-01,off market,3RDPRTY,5.75,105648.2,107025.0,110000.0,0.0,0.973,360.0,348.0,BSI,FHA,565.0
70504,1401145654,FHA,5.75,5.75,565.0,97.3,96.04,360,348,2023-03-01,0.0,1.401146e+09,2023-08-31,off market,3RDPRTY,5.75,0.0,107025.0,110000.0,0.0,0.973,360.0,348.0,BSI,FHA,565.0

In [114]:
mck_oneoff_specific_column.drop_duplicates(subset=["LoanNumber"],inplace=True)

In [115]:
#checking
mck_oneoff_specific_column[mck_oneoff_specific_column["LoanNumber"]==1401145654]

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
70503,1401145654,FHA,5.75,5.75,565.0,97.3,96.04,360,348,2023-03-01,44.0,1.401146e+09,2023-04-01,off market,3RDPRTY,5.75,105648.2,107025.0,110000.0,0.0,0.973,360.0,348.0,BSI,FHA,565.0

In [116]:
mck_oneoff_specific_column.shape

(164246, 26)

In [117]:
mck_oneoff_specific_column.head(1)

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
0,791,CONVENTIONAL,2.75,2.75,777.0,66.67,22.06,180,55,2023-08-01,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
mck_oneoff_specific_column[mck_oneoff_specific_column["LoanType"].isna()==True]
mck_oneoff_specific_column[mck_oneoff_specific_column["LoanNumber"].duplicated()==True]
mck_oneoff_specific_column[mck_oneoff_specific_column["LoanNumber"]==1401145654]
mck_oneoff_specific_column["LoanNumber"].isna().sum()
mck_oneoff_specific_column["Date_Paid_Off"].dtypes
mck_oneoff_specific_column["Date_Paid_Off"]=pd.to_datetime(mck_oneoff_specific_column["Date_Paid_Off"])
mck_oneoff_specific_column["Date_Paid_Off"]=mck_oneoff_specific_column["Date_Paid_Off"].dt.strftime("%Y-%m")

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
1347,84629181,None,9.375,4.125,709.0,9.85,2.29,240,33,2023-08-01,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [LoanNumber, LoanType, InterestRate, OriginalInterestRate, FICO_Score, Original_Ltv_Calc, CurrentLTV, TermOfLoan, RemainingTerm, Year_Month_Obs, index, Loan_Number, Date_Paid_Off, Reason_Closed_Redifn, Reason_Closed, Note_Rate, UPB_At_Payoff, Original_Value, Current_Value, Current_LTV_%, Original_LTV_%, Term_of_Loan, Remaining_Term, Investor, Seller, Credit_Score]
Index: []

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
70503,1401145654,FHA,5.75,5.75,565.0,97.3,96.04,360,348,2023-03-01,44.0,1.401146e+09,2023-04-01,off market,3RDPRTY,5.75,105648.2,107025.0,110000.0,0.0,0.973,360.0,348.0,BSI,FHA,565.0

0

dtype('<M8[ns]')

In [119]:
mck_oneoff_specific_column["Date_Paid_Off"].dtypes
mck_oneoff_specific_column["Date_Paid_Off"].isna().sum()

dtype('O')

162318

In [120]:
164246-162318

1928

In [121]:
mck_oneoff_specific_column["Date_Paid_Off"].value_counts()

Date_Paid_Off
2023-03    242
2023-06    215
2023-05    208
2023-07    204
2023-08    192
2023-04    191
2022-11    191
2023-02    171
2022-12    165
2023-01    149
Name: count, dtype: int64

In [122]:
mck_oneoff_specific_column[~pd.isnull(mck_oneoff_specific_column["Date_Paid_Off"])]

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score
50,60021,CONVENTIONAL,3.375,3.375,790.0,67.71,8.33,180,51,2023-04-01,91.0,6.002100e+04,2023-05,off market,PIF,3.380,19770.81,325000.0,480000.0,0.0,0.677100,180.0,50.0,BSI,FNMA,790.0
59,70025,CONVENTIONAL,2.875,2.875,787.0,58.19,13.88,180,52,2023-05-01,0.0,7.002500e+04,2023-06,off market,PIF,2.880,44430.00,186200.0,320000.0,0.0,0.581900,180.0,52.0,BSI,FNMA,787.0
85,90034,CONVENTIONAL,2.750,2.750,0.0,50.38,9.57,180,58,2022-12-01,279.0,9.003400e+04,2023-01,off market,PIF,2.750,37309.03,196500.0,390000.0,0.0,0.503846,180.0,58.0,BSI,FNMA,0.0
111,110001,CONVENTIONAL,3.875,3.875,807.0,74.59,18.68,360,236,2023-03-01,0.0,1.100010e+05,2023-04,not found,PIF,3.880,113962.15,455000.0,610000.0,0.0,0.745900,360.0,236.0,BSI,FNMA,807.0
157,301042,CONVENTIONAL,3.000,3.000,792.0,70.81,25.62,180,58,2023-05-01,11.0,3.010420e+05,2023-06,off market,PIF,3.000,93214.91,262000.0,370000.0,0.0,0.708100,180.0,57.0,BSI,FNMA,792.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163594,7801700137,VA,5.250,5.250,603.0,99.15,98.32,360,353,2023-04-01,314.0,7.801700e+09,2023-05,off market,PIF,5.250,402610.91,406500.0,410000.0,0.0,0.991500,360.0,352.0,BSI,GNMA,603.0
163630,7801700173,CONVENTIONAL,7.125,7.125,779.0,80.00,79.87,360,358,2023-01-01,65.0,7.801700e+09,2023-02,off market,PIF,7.125,319227.73,320000.0,400000.0,0.0,0.800000,360.0,357.0,BSI,FNMA,757.0
163738,7801700281,CONVENTIONAL,6.375,6.375,740.0,71.79,71.39,360,354,2023-06-01,66.0,7.801700e+09,2023-07,off market,PIF,6.380,696057.92,700000.0,975000.0,0.0,0.717900,360.0,354.0,BSI,FNMA,740.0
163813,7801700356,CONVENTIONAL,6.625,6.625,788.0,63.64,63.58,360,359,2023-02-01,82.0,7.801700e+09,2023-03,off market,PIF,6.630,698136.96,700000.0,1100000.0,0.0,0.636400,360.0,357.0,BSI,FNMA,788.0
163837,7801700380,CONVENTIONAL,6.500,6.500,801.0,79.42,79.27,360,358,2023-03-01,384.0,7.801700e+09,2023-04,not found,PIF,6.500,346088.80,347048.0,437000.0,0.0,0.794200,360.0,357.0,BSI,FNMA,801.0

In [123]:
mck_oneoff_specific_column["Event_Date"]=mck_oneoff_specific_column["Date_Paid_Off"].fillna((pd.to_datetime("2023-08")))
mck_oneoff_specific_column["Event_Date"]=pd.to_datetime(mck_oneoff_specific_column["Event_Date"])
mck_oneoff_specific_column["Event_date"]=mck_oneoff_specific_column["Event_Date"].dt.strftime("%Y-%m")

In [124]:
mck_oneoff_specific_column.head(1)

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score,Event_Date,Event_date
0,791,CONVENTIONAL,2.75,2.75,777.0,66.67,22.06,180,55,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08

In [125]:
mck_oneoff_specific_column["Event_Date"].isna().sum()
mck_oneoff_specific_column["Event_Date"]
mck_oneoff_specific_column["Event_Date"].min()
mck_oneoff_specific_column["Event_Date"].max()
mck_oneoff_specific_column[mck_oneoff_specific_column["Event_Date"]=="2023-08"]

0

0        2023-08-01
1        2023-08-01
2        2023-08-01
3        2023-08-01
4        2023-08-01
            ...
164242   2023-08-01
164243   2023-08-01
164244   2023-08-01
164245   2023-08-01
164246   2023-08-01
Name: Event_Date, Length: 164246, dtype: datetime64[ns]

Timestamp('2022-11-01 00:00:00')

Timestamp('2023-08-01 00:00:00')

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score,Event_Date,Event_date
0,791,CONVENTIONAL,2.750,2.750,777.0,66.67,22.06,180,55,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
1,1235,CONVENTIONAL,2.875,2.875,608.0,63.15,22.95,180,57,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
2,1262,CONVENTIONAL,2.875,2.875,758.0,75.00,25.22,180,58,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
3,1378,CONVENTIONAL,4.875,4.875,503.0,80.00,79.90,360,359,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
4,1571,CONVENTIONAL,3.500,3.500,801.0,96.63,36.23,180,57,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164242,8513090006,CONVENTIONAL,3.750,3.750,764.0,50.38,18.55,180,62,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
164243,8870311090,CONVENTIONAL,4.250,4.250,NaN,98.41,102.52,480,477,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
164244,8870319953,CONVENTIONAL,4.500,4.500,NaN,100.00,111.18,480,465,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
164245,9118121265,PMI,4.375,4.375,808.0,93.42,19.61,360,312,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08
164246,9119021467,CONVENTIONAL,3.625,3.625,798.0,81.53,59.52,180,129,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08

In [126]:
mck_oneoff_specific_column["Interest_Rate_Date"]=pd.to_datetime(mck_oneoff_specific_column["Event_Date"],format="%Y-%m")
mck_oneoff_specific_column["Interest_Rate_Date"]=mck_oneoff_specific_column["Interest_Rate_Date"]-pd.DateOffset(months=2)
mck_oneoff_specific_column["Interest_Rate_Date"]=mck_oneoff_specific_column["Interest_Rate_Date"].dt.strftime("%Y-%m")

In [127]:
mck_oneoff_specific_column.shape

(164246, 29)

In [128]:
mck_oneoff_specific_column.head()

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score,Event_Date,Event_date,Interest_Rate_Date
0,791,CONVENTIONAL,2.750,2.750,777.0,66.67,22.06,180,55,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
1,1235,CONVENTIONAL,2.875,2.875,608.0,63.15,22.95,180,57,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
2,1262,CONVENTIONAL,2.875,2.875,758.0,75.00,25.22,180,58,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
3,1378,CONVENTIONAL,4.875,4.875,503.0,80.00,79.90,360,359,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
4,1571,CONVENTIONAL,3.500,3.500,801.0,96.63,36.23,180,57,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06

In [129]:
mck_oneoff_specific_column[mck_oneoff_specific_column["Interest_Rate_Date"]=="2023-06"]

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Year_Month_Obs,index,Loan_Number,Date_Paid_Off,Reason_Closed_Redifn,Reason_Closed,Note_Rate,UPB_At_Payoff,Original_Value,Current_Value,Current_LTV_%,Original_LTV_%,Term_of_Loan,Remaining_Term,Investor,Seller,Credit_Score,Event_Date,Event_date,Interest_Rate_Date
0,791,CONVENTIONAL,2.750,2.750,777.0,66.67,22.06,180,55,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
1,1235,CONVENTIONAL,2.875,2.875,608.0,63.15,22.95,180,57,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
2,1262,CONVENTIONAL,2.875,2.875,758.0,75.00,25.22,180,58,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
3,1378,CONVENTIONAL,4.875,4.875,503.0,80.00,79.90,360,359,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
4,1571,CONVENTIONAL,3.500,3.500,801.0,96.63,36.23,180,57,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164242,8513090006,CONVENTIONAL,3.750,3.750,764.0,50.38,18.55,180,62,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
164243,8870311090,CONVENTIONAL,4.250,4.250,NaN,98.41,102.52,480,477,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
164244,8870319953,CONVENTIONAL,4.500,4.500,NaN,100.00,111.18,480,465,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
164245,9118121265,PMI,4.375,4.375,808.0,93.42,19.61,360,312,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06
164246,9119021467,CONVENTIONAL,3.625,3.625,798.0,81.53,59.52,180,129,2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-01,2023-08,2023-06

In [130]:
mck_oneoff_specific_column=mck_oneoff_specific_column[['LoanNumber','LoanType','InterestRate','OriginalInterestRate','FICO_Score','Original_Ltv_Calc','CurrentLTV',
                 'TermOfLoan','RemainingTerm','Interest_Rate_Date']]
mck_oneoff_specific_column.head(1)

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Interest_Rate_Date
0,791,CONVENTIONAL,2.75,2.75,777.0,66.67,22.06,180,55,2023-06

In [131]:
%%time
# Transformation Mck Oneoff dataset (Reamaining Term, Bucketing FICO Score, Current LTV)
mck_oneoff_specific_column["Interest_Rate_Date"]=pd.to_datetime(mck_oneoff_specific_column["Interest_Rate_Date"], format='%Y-%m')
mck_oneoff_specific_column['Year'] = mck_oneoff_specific_column['Interest_Rate_Date'].dt.strftime('%Y')
mck_oneoff_specific_column['Month'] = mck_oneoff_specific_column['Interest_Rate_Date'].dt.strftime('%m')
mck_oneoff_specific_column['Term'] = np.where((mck_oneoff_specific_column['RemainingTerm']/12) > 18,30,15) # 30, 15 years 
 
#Bucketing FICO SCORE
col = 'FICO_Score'
conditions = [
    mck_oneoff_specific_column[col].between(0,620),   # inclusive = True is the default
    mck_oneoff_specific_column[col].between(620,640),
    mck_oneoff_specific_column[col].between(640,660),
    mck_oneoff_specific_column[col].between(660,680),
    mck_oneoff_specific_column[col].between(680,700),
    mck_oneoff_specific_column[col].between(700,720),
    mck_oneoff_specific_column[col].between(720,740),
    mck_oneoff_specific_column[col].between(740,760),
    mck_oneoff_specific_column[col].between(760,780),
    mck_oneoff_specific_column[col].ge(780)
             ]
choices = ["<620",">=620",">=640",">=660",">=680",">=700",">=720",">=740",">=760",">=780"]
mck_oneoff_specific_column["FICO"] = np.select(conditions, choices, default=np.nan) # If not following this conditions any data point by default put NaN values.
 
#Bucketing LTV
col = 'CurrentLTV'
conditions = [
    mck_oneoff_specific_column[col].between(0,30),   # inclusive = True is the default
    mck_oneoff_specific_column[col].between(30,60), 
    mck_oneoff_specific_column[col].between(60,70),
    mck_oneoff_specific_column[col].between(70,75),
    mck_oneoff_specific_column[col].between(75,80),
    mck_oneoff_specific_column[col].between(80,85),
    mck_oneoff_specific_column[col].between(85,90),
    mck_oneoff_specific_column[col].between(90,95),
    mck_oneoff_specific_column[col].ge(95)
             ]
choices = ["<=30","<=60","<=70","<=75","<=80","<=85","<=90","<=95",">95"]
mck_oneoff_specific_column["LTV"] = np.select(conditions, choices, default=np.nan) # If not following this conditions any data point by default put NaN values.
mck_oneoff_specific_column.head(10)
mck_oneoff_specific_column.shape

CPU times: total: 1.69 s
Wall time: 1.71 s

(164246, 15)

In [132]:
mck_oneoff_specific_column.head(10)

,LoanNumber,LoanType,InterestRate,OriginalInterestRate,FICO_Score,Original_Ltv_Calc,CurrentLTV,TermOfLoan,RemainingTerm,Interest_Rate_Date,Year,Month,Term,FICO,LTV
0,791,CONVENTIONAL,2.750,2.750,777.0,66.67,22.06,180,55,2023-06-01,2023,06,15,>=760,<=30
1,1235,CONVENTIONAL,2.875,2.875,608.0,63.15,22.95,180,57,2023-06-01,2023,06,15,<620,<=30
2,1262,CONVENTIONAL,2.875,2.875,758.0,75.00,25.22,180,58,2023-06-01,2023,06,15,>=740,<=30
3,1378,CONVENTIONAL,4.875,4.875,503.0,80.00,79.90,360,359,2023-06-01,2023,06,30,<620,<=80
4,1571,CONVENTIONAL,3.500,3.500,801.0,96.63,36.23,180,57,2023-06-01,2023,06,15,>=780,<=60
5,1596,CONVENTIONAL,3.500,3.500,761.0,60.61,20.65,180,56,2023-06-01,2023,06,15,>=760,<=30
6,1869,CONVENTIONAL,3.000,3.000,801.0,32.41,11.98,180,58,2023-06-01,2023,06,15,>=780,<=30
7,2012,CONVENTIONAL,3.250,3.250,782.0,124.27,46.75,180,58,2023-06-01,2023,06,15,>=780,<=60
8,2031,CONVENTIONAL,3.125,3.125,797.0,63.93,7.46,180,58,2023-06-01,2023,06,15,>=780,<=30
9,2100,CONVENTIONAL,3.375,3.375,799.0,64.80,10.12,180,57,2023-06-01,2023,06,15,>=780,<=30

In [133]:
mck_oneoff_specific_column["FICO"].isna().sum()

0

In [134]:
mck_oneoff_specific_column["LTV"].isna().sum()

0

In [135]:
mck_oneoff_final_df = mck_oneoff_specific_column[['LoanNumber','LoanType','Year','Month','Term','FICO','LTV']]
mck_oneoff_final_df[["Year", "Month","Term"]] = mck_oneoff_final_df[["Year", "Month","Term"]].apply(pd.to_numeric)
mck_oneoff_final_df.head(2)

   LoanNumber      LoanType  Year  Month  Term   FICO   LTV
0         791  CONVENTIONAL  2023      6    15  >=760  <=30
1        1235  CONVENTIONAL  2023      6    15   <620  <=30

In [136]:
mck_oneoff_final_df.dtypes

LoanNumber     int64
LoanType      object
Year           int64
Month          int64
Term           int32
FICO          object
LTV           object
dtype: object

In [137]:
mck_oneoff_final_df["LoanType"].unique()

array(['CONVENTIONAL', 'PMI', 'FHA', 'VA', None], dtype=object)

In [138]:
!cd

C:\Users\12098\Downloads\BSI model\2-Code Files

In [139]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is F4E8-16E7

 Directory of C:\Users\12098\Downloads\BSI model\2-Code Files

02/11/2025  10:15 AM    <DIR>          .
11/15/2024  01:37 PM    <DIR>          ..
02/07/2025  02:45 PM    <DIR>          .ipynb_checkpoints
02/09/2025  12:37 PM           367,637 1.Interest_Rate_Data_Preparation.ipynb
11/15/2024  01:59 PM           358,737 2.Model_Training_Data_Preparation.ipynb
11/15/2024  01:37 PM           104,324 3.Processing_Target_Data_Prepare & Merge Training Data.ipynb
11/15/2024  01:37 PM         3,508,366 4.Model Training & Threshold Calibration_Incedo_Model.ipynb
02/11/2025  10:15 AM           223,922 Interest_data_prep.ipynb
11/15/2024  01:37 PM               657 requirements.txt
               6 File(s)      4,563,643 bytes
               3 Dir(s)  253,201,952,768 bytes free

In [140]:
Interest_rate_matrix = pd.read_csv(r"C:\Users\12098\Downloads\BSI model\1-Data Source\Interest Data\Input_Data\Copy of MCK_ONEOFF_11_02_2023.csv")

In [141]:
Interest_rate_matrix.head(1)

,LoanNumber,LoanType,PrincipalBalance,NextDueDate,InterestPaidToDate,DateLastPayment,InterestRate,OriginalInterestRate,PropertyAddressLine1,PropertyAddressLine2,PropertyCityName,PropertyState,PropertyZipCode,MailingAddLine1,MailingAddLine2,MailingCity,MailingState,MailingZip,FICO_Score,FicoDate,BankruptcyFlag,LossMitigationStatus,ForeclosureStatus,DLQ_Status,NoteDate,ServicingDate,TransferDate,PiPmt,EscrowPayment,EscrowBalance,ReportToCreditBureau,AppraisalDate,AppraisedAmount,Original_Ltv_Calc,CurrentLTV,PriorServicerName,InvestorOwner,AcquiredPortfolioName,PrimaryBorrowerOptOut,SecondaryBorrowerOptOut,TermOfLoan,RemainingTerm,FIXED ARM,SaleAmount,OriginalBalance,RawLeadType,ForbearanceFlag,PropMailAddressLine1Match,DataDate
0,60031,CONVENTIONAL,67389.89,2020-12-01,2020-11-01,2020-11-01,3.375,3.375,NaN,NaN,BALTIMORE,MD,21209,NaN,NaN,BALTIMORE,MD,21209,NaN,2012-09-26,NaN,,NaN,CURRENT,2012-08-22,2012-09-17,2012-09-26,921.39,466.74,2117.73,Y,NaN,247000.0,52.63,27.28,ALLIED MORTGAGE GROUP,Balbec Fund III,ALLIED [1 - FNMA],0,0,180,82,FIXED,130000.0,130000.0,Allied,NaN,Y,2020-11-30

In [152]:
print(Interest_rate_matrix.columns)

Index(['LoanType', 'DataDate', 'TermOfLoan', 'FICO', 'LTV', 'Avg_Rate'], dtype='object')

In [143]:
Interest_rate_matrix["TermOfLoan"].value_counts()

TermOfLoan
360    3525861
180     466051
240      78645
300      35879
120      16217
        ...
438          1
428          1
159          1
274          1
111          1
Name: count, Length: 232, dtype: int64

In [144]:
# Step 1: Replace 'TermOfLoan' with numeric values
Interest_rate_matrix['TermOfLoan'] = np.where(Interest_rate_matrix['TermOfLoan'] == '15 Year', 15, 30)

# Step 2: Rename columns based on what is available in the DataFrame
# Since 'FICO_Score' is present, we'll rename it to 'FICO'
Interest_rate_matrix.rename(columns={
    'FICO_Score': 'FICO',
    'CurrentLTV': 'LTV',
    'InterestRate': 'Avg_Rate'  # Assuming this represents 'Avg_Rate'
}, inplace=True)

# Step 3: Create a subset of the DataFrame using only the available columns
# I added 'DataDate' instead of 'Year' and 'Month' (as no columns for 'Year' or 'Month' exist)
Interest_rate_matrix = Interest_rate_matrix[['LoanType', 'TermOfLoan', 'FICO', 'LTV', 'Avg_Rate', 'DataDate']]

# Step 4: Make 'LoanType' uppercase
Interest_rate_matrix['LoanType'] = Interest_rate_matrix['LoanType'].str.upper()

# Step 5: Output the shape and first two rows of the DataFrame
print(Interest_rate_matrix.shape)
Interest_rate_matrix.head(2)

(4160702, 6)

       LoanType  TermOfLoan   FICO    LTV  Avg_Rate    DataDate
0  CONVENTIONAL          30    NaN  27.28     3.375  2020-11-30
1  CONVENTIONAL          30  792.0  26.17     2.875  2020-11-30

In [147]:
print(mck_oneoff_final_df.dtypes)
print(Interest_rate_matrix.dtypes)

LoanNumber     int64
LoanType      object
Year           int64
Month          int64
Term           int32
FICO          object
LTV           object
dtype: object
LoanType       object
DataDate       object
TermOfLoan      int32
FICO          float64
LTV           float64
Avg_Rate      float64
dtype: object

In [145]:
Interest_rate_matrix['TermOfLoan'] = np.where(Interest_rate_matrix['TermOfLoan']=='15 Year',15,30)
Interest_rate_matrix.rename(columns = {'Product':'LoanType','ficorange':'FICO','ltvrange':'LTV','avg(rate)':'Avg_Rate'}, inplace = True) 
Interest_rate_matrix = Interest_rate_matrix[['LoanType','DataDate','TermOfLoan','FICO','LTV','Avg_Rate']]
Interest_rate_matrix['LoanType'] = Interest_rate_matrix['LoanType'].str.upper()
print(Interest_rate_matrix.shape)
Interest_rate_matrix.head(2)

(4160702, 6)

       LoanType    DataDate  TermOfLoan   FICO    LTV  Avg_Rate
0  CONVENTIONAL  2020-11-30          30    NaN  27.28     3.375
1  CONVENTIONAL  2020-11-30          30  792.0  26.17     2.875

In [148]:
print(mck_oneoff_final_df.dtypes)
print(Interest_rate_matrix.dtypes)

LoanNumber     int64
LoanType      object
Year           int64
Month          int64
Term           int32
FICO          object
LTV           object
dtype: object
LoanType       object
DataDate       object
TermOfLoan      int32
FICO          float64
LTV           float64
Avg_Rate      float64
dtype: object

In [149]:
mck_oneoff_final_df.reset_index(drop=True)
Interest_rate_matrix.reset_index(drop=True)

        LoanNumber      LoanType  Year  Month  Term   FICO   LTV
0              791  CONVENTIONAL  2023      6    15  >=760  <=30
1             1235  CONVENTIONAL  2023      6    15   <620  <=30
2             1262  CONVENTIONAL  2023      6    15  >=740  <=30
3             1378  CONVENTIONAL  2023      6    30   <620  <=80
4             1571  CONVENTIONAL  2023      6    15  >=780  <=60
...            ...           ...   ...    ...   ...    ...   ...
164241  8513090006  CONVENTIONAL  2023      6    15  >=760  <=30
164242  8870311090  CONVENTIONAL  2023      6    30    nan   >95
164243  8870319953  CONVENTIONAL  2023      6    30    nan   >95
164244  9118121265           PMI  2023      6    30  >=780  <=30
164245  9119021467  CONVENTIONAL  2023      6    15  >=780  <=60

[164246 rows x 7 columns]

             LoanType    DataDate  TermOfLoan   FICO    LTV  Avg_Rate
0        CONVENTIONAL  2020-11-30          30    NaN  27.28     3.375
1        CONVENTIONAL  2020-11-30          30  792.0  26.17     2.875
2        CONVENTIONAL  2020-11-30          30  738.0   4.78     3.625
3        CONVENTIONAL  2020-11-30          30  720.0  78.12     4.625
4        CONVENTIONAL  2020-11-30          30  781.0  78.20     4.500
...               ...         ...         ...    ...    ...       ...
4160697            VA  2023-11-01          30  778.0  77.66     2.750
4160698           FHA  2023-11-01          30    0.0  59.84     3.375
4160699           FHA  2023-11-01          30  681.0  78.75     3.375
4160700           FHA  2023-11-01          30  808.0  59.58     3.375
4160701           FHA  2023-11-01          30  706.0  78.71     5.000

[4160702 rows x 6 columns]

In [157]:
print(mck_oneoff_final_df.columns)
print(Interest_rate_matrix.columns)

Index(['LoanNumber', 'LoanType', 'Year', 'Month', 'Term', 'FICO', 'LTV'], dtype='object')
Index(['LoanType', 'DataDate', 'TermOfLoan', 'FICO', 'LTV', 'Avg_Rate'], dtype='object')

In [165]:
Interest_rate_matrix.insert(loc=1, column="Month", value="Term")
print(df)

                           Pool Date Paid Off  Loan Number Reason Closed  \
0        BSI FINANCIAL SERVICES    2023-08-31   1401145654       3RDPRTY
1        BSI Financial Services    2023-08-28   1401467510           PIF
2        BSI FINANCIAL SERVICES    2023-08-28   2815198617           PIF
3        BSI Financial Services    2023-08-23     22007752           PIF
4        BSI Financial Services    2023-08-22   1401034764           PIF
..                          ...           ...          ...           ...
610           Commerce 10-31-18    2023-08-22   1030080351           PIF
611           Commerce 10-31-18    2023-08-16   1110076808           PIF
612           Commerce 10-31-18    2023-08-11   1110086024           PIF
613  First Continental 10-31-18    2023-08-07   1401963834           PIF
614     FNB of Trenton 10-31-18    2023-08-10   1401401035           PIF

     Note Rate  UPB At Payoff  Original Value  Current Value  Current LTV %  \
0         5.75           0.00          107025         110000              0
1         3.63      193483.11          206250         206250              0
2         3.63      128205.02          134000         165000              0
3         2.50      115491.24          140450         218000              0
4         4.13       10204.62          356000         625000              0
..         ...            ...             ...            ...            ...
610       3.63       65645.16           77000         290000              0
611       3.13       46922.16          185000         285000              0
612       2.75        3248.64          234800         605000              0
613       3.63      167656.07          219190         275000              0
614       3.63       38139.53          137000         191000              0

     Original LTV %  Term of Loan  Remaining Term Investor Seller  \
0            0.9730           360             348      BSI    FHA
1            1.0000           360             322      BSI   FNMA
2            0.8121           360             333      BSI   FNMA
3            0.6443           180             145      BSI   FNMA
4            0.5696           180              29      BSI   FNMA
..              ...           ...             ...      ...    ...
610          0.2655           360             276      BSI   FNMA
611          0.6491           180              88      BSI   FNMA
612          0.3881           180              98      BSI   FNMA
613          0.7971           360             239      BSI   FNMA
614          0.7173           180              86      BSI   FNMA

     Number of Visits (120Days Prior To Payoff)  Credit Score     Loan Type  \
0                                           NaN           565           FHA
1                                           NaN           776  Conventional
2                                           NaN           768  Conventional
3                                           NaN           798  Conventional
4                                           NaN           786  Conventional
..                                          ...           ...           ...
610                                         NaN           778  Conventional
611                                         NaN           777  Conventional
612                                         NaN           809  Conventional
613                                         NaN           791  Conventional
614                                         NaN           811  Conventional

     Raw Lead File Assignment Eligible For Refinance Indicator  \
0                         NaN                              NaN
1                         NaN                           Allied
2                         NaN                             BSIE
3                         NaN                               GO
4                         NaN                               GO
..                        ...                              ...
610                       NaN                               GO
611                       NaN                               GO
612                       NaN                               GO
613                       NaN                           Allied
614                       NaN                               GO

     Total Curtailment Applied Servicing Date  Secondary Borrowers Home Phone  \
0                         0.00     2021-12-02                             NaN
1                         0.00     2020-09-01                             NaN
2                         0.00     2021-05-17                             NaN
3                      1562.19     2020-09-18                    1.000000e+10
4                     37116.02     2019-04-01                             NaN
..                         ...            ...                             ...
610                      37.60     2016-07-08                             NaN
611                   49601.51     2015-12-10                    0.000000e+00
612                  123765.52     2016-10-12                    1.000000e+10
613                       0.00     2015-04-01                    0.000000e+00
614                   32924.12     2016-02-01                             NaN

     Secondary Cell Phone  Secondary Work Phone Request Type  \
0                       0                   NaN     Internal
1                       0                   NaN          NaN
2                       0                   NaN          NaN
3                       0          2.143529e+09          NaN
4                       0                   NaN          NaN
..                    ...                   ...          ...
610                     0                   NaN          NaN
611                     0          0.000000e+00          NaN
612                     0          3.036922e+09          NaN
613                     0          0.000000e+00          NaN
614                     0                   NaN          NaN

     Did Originations Dept Open CIT 101 CIT 101 Date  Property Address Line1  \
0                                   NaN          NaT                     NaN
1                                   NaN   2023-08-07                     NaN
2                                   NaN          NaT                     NaN
3                                   NaN          NaT                     NaN
4                                   NaN          NaT                     NaN
..                                  ...          ...                     ...
610                                 NaN   2023-08-11                     NaN
611                                 NaN   2023-08-16                     NaN
612                                 NaN   2023-08-10                     NaN
613                                 NaN   2023-08-07                     NaN
614                                 NaN   2023-08-07                     NaN

     Property Address Line2 Property City Name Property State  \
0                       NaN             ODESSA             TX
1                       NaN          LAS VEGAS             NV
2                       NaN         VALPARAISO             IN
3                       NaN            GARLAND             TX
4                       NaN         MIDDLETOWN             NJ
..                      ...                ...            ...
610                     NaN        SHINGLETOWN             CA
611                     NaN             PARKER             CO
612                     NaN          LITTLETON             CO
613                     NaN            TOMBALL             TX
614                     NaN            GARLAND             TX

     Property Zip Code  Primary Borrower First Name  \
0                79761                          NaN
1                89183                          NaN
2                46385                          NaN
3                75042                          NaN
4                 7748                          NaN
..                 ...                          ...
610              96088                          NaN
611              80134                          NaN
612              80127                          NaN
613              77377                          NaN
614              75043                          NaN

     Primary Borrower Last Name  \
0                           NaN
1                           NaN
2                           NaN
3                           NaN
4                           NaN
..                          ...
610                         NaN
611                         NaN
612                         NaN
613                         NaN
614                         NaN

     Aggregate Monthly Payment Amountfor Open Trade  \
0                                             681.0
1                                            2270.0
2                                             812.0
3                                            2345.0
4                                            8951.0
..                                              ...
610                                           858.0
611                                          1437.0
612                                          2391.0
613                                          1239.0
614                                          2754.0

     Agg Balance for all Revolving Trade exclude Secured Trade  \
0                                                130.0
1                                               6456.0
2                                                116.0
3                                               2992.0
4                                               2423.0
..                                                 ...
610                                                0.0
611                                             4966.0
612                                             1985.0
613                                            10558.0
614                                             4441.0

     Highest Balance for all Revolving Trade exclude Secured Trade  \
0                                                130.0
1                                               4796.0
2                                                116.0
3                                               2992.0
4                                               2049.0
..                                                 ...
610                                                0.0
611                                             3233.0
612                                             1985.0
613                                             6611.0
614                                             3582.0

     Number of Open Home Equity Trade Line  Home Value  Curr LTV  \
0                                      0.0   126873.76    83.270
1                                      0.0   305774.44    63.853
2                                      0.0   212543.18    60.737
3                                      0.0   312141.71    38.205
4                                      0.0   961343.37     2.410
..                                     ...         ...       ...
610                                    0.0   468880.97    14.100
611                                    0.0   545171.18     9.679
612                                    0.0  1047155.06     1.350
613                                    1.0   533679.15    31.873
614                                    0.0         NaN       NaN

                             MSR SELLER DLQ Status At Payoff  \
0    Mortgage Solutions - CO [1 - GNMA]             RESOLVED
1                 BAY EQUITY [1 - FNMA]              CURRENT
2                    Diamond [1 - FNMA]              CURRENT
3                TOWN SQUARE [1 - FNMA]              CURRENT
4              Morgan Stanley S/S-1-MBS              CURRENT
..                                  ...                  ...
610                 COMMERCE [1 - FNMA]  2023-01-29 00:00:00
611                 COMMERCE [1 - FNMA]              CURRENT
612                 COMMERCE [1 - FNMA]              CURRENT
613        FIRST CONTINENTAL [1 - FNMA]              CURRENT
614                      FNB of Trenton              CURRENT

    Reason Closed_Redifn              Comments        Sold  AUG'23  \
0             OFF MARKET                   NaN                 NaN
1            Sold Aug'23  Realtor - Off Market  Sold on 08/24/2023
2             OFF MARKET                   NaN                 NaN
3             OFF MARKET                   NaN                 NaN
4             OFF MARKET                   NaN                 NaN
..                   ...                   ...                 ...
610          Sold Aug'23                   NaN  Sold on 08/22/2023
611           OFF MARKET                   NaN                 NaN
612           OFF MARKET                   NaN                 NaN
613           OFF MARKET                   NaN                 NaN
614           OFF MARKET                   NaN                 NaN

    In Velocify                Velocify Status  \
0            No                            NaN
1            No                            NaN
2           Yes       Nurture - Not Interested
3           Yes       Nurture - Not Interested
4            No                            NaN
..          ...                            ...
610          No                            NaN
611          No                            NaN
612          No                            NaN
613         Yes  No Longer Eligible to solicit
614          No                            NaN

                                     Velocify Comments Updated Velocify Status
0                                                  NaN                     NaN
1                                                  NaN                     NaN
2    Selling but not buying new property right away...     Paid in Full - Refi
3    Claudia said they are already in the process w...     Paid in Full - Refi
4                                                  NaN                     NaN
..                                                 ...                     ...
610                                                NaN                     NaN
611                                                NaN                     NaN
612                                                NaN                     NaN
613                                                NaN     Paid in Full - Refi
614                                                NaN                     NaN

[615 rows x 49 columns]

In [170]:
merge_keys = ['LoanType', 'Year', 'Month', 'Term', 'FICO', 'LTV']
for key in merge_keys:
    if key not in mck_oneoff_final_df.columns:
        print(f"'{key}' is missing from mck_oneoff_final_df")
    if key not in Interest_rate_matrix.columns:
        print(f"'{key}' is missing from Interest_rate_matrix")

'Year' is missing from Interest_rate_matrix
'Term' is missing from Interest_rate_matrix

In [171]:
Interest_rate_matrix["DataDate"] = pd.to_datetime(Interest_rate_matrix["DataDate"])
Interest_rate_matrix.insert(loc=1, column="Year", value=Interest_rate_matrix["DataDate"].dt.year)
Interest_rate_matrix.insert(loc=3, column="Term", value=Interest_rate_matrix["TermOfLoan"])
print(Interest_rate_matrix)

             LoanType  Year Month  Term   DataDate  TermOfLoan   FICO    LTV  \
0        CONVENTIONAL  2020  Term    30 2020-11-30          30    NaN  27.28
1        CONVENTIONAL  2020  Term    30 2020-11-30          30  792.0  26.17
2        CONVENTIONAL  2020  Term    30 2020-11-30          30  738.0   4.78
3        CONVENTIONAL  2020  Term    30 2020-11-30          30  720.0  78.12
4        CONVENTIONAL  2020  Term    30 2020-11-30          30  781.0  78.20
...               ...   ...   ...   ...        ...         ...    ...    ...
4160697            VA  2023  Term    30 2023-11-01          30  778.0  77.66
4160698           FHA  2023  Term    30 2023-11-01          30    0.0  59.84
4160699           FHA  2023  Term    30 2023-11-01          30  681.0  78.75
4160700           FHA  2023  Term    30 2023-11-01          30  808.0  59.58
4160701           FHA  2023  Term    30 2023-11-01          30  706.0  78.71

         Avg_Rate
0           3.375
1           2.875
2           3.625
3           4.625
4           4.500
...           ...
4160697     2.750
4160698     3.375
4160699     3.375
4160700     3.375
4160701     5.000

[4160702 rows x 9 columns]

In [178]:
print(mck_oneoff_final_df.dtypes)
print(Interest_rate_matrix.dtypes)

LoanNumber     int64
LoanType      object
Year           int64
Month          int64
Term           int32
FICO          object
LTV           object
dtype: object
LoanType              object
Year                   int32
Month                 object
Term                   int32
DataDate      datetime64[ns]
TermOfLoan             int32
FICO                 float64
LTV                  float64
Avg_Rate             float64
dtype: object

In [189]:
print(mck_oneoff_final_df["FICO"].unique())
print(mck_oneoff_final_df["LTV"].unique())

[760. 620. 740. 780. 680. 700.  nan 660. 720. 640.]
['<=30' '<=80' '<=60' '<=75' '<=70' '<=95' '<=85' '<=90' '>95']

In [186]:
import re
import numpy as np

def clean_fico(x):
    if isinstance(x, str):
        cleaned = re.sub(r"[^\d.]", "", x)
        return float(cleaned) if cleaned else np.nan
    return x

mck_oneoff_final_df["FICO"] = mck_oneoff_final_df["FICO"].apply(clean_fico)
Interest_rate_matrix["FICO"] = Interest_rate_matrix["FICO"].apply(clean_fico)

In [190]:
import re
import numpy as np

def clean_LTV(x):
    if isinstance(x, str):
        cleaned = re.sub(r"[^\d.]", "", x)
        return float(cleaned) if cleaned else np.nan
    return x

mck_oneoff_final_df["LTV"] = mck_oneoff_final_df["LTV"].apply(clean_fico)
Interest_rate_matrix["LTV"] = Interest_rate_matrix["LTV"].apply(clean_fico)

In [191]:
mck_oneoff_final_df["Month"] = mck_oneoff_final_df["Month"].astype(str)
Interest_rate_matrix["Month"] = Interest_rate_matrix["Month"].astype(str)
mck_oneoff_final_df["FICO"] = mck_oneoff_final_df["FICO"].astype(float)
Interest_rate_matrix["FICO"] = Interest_rate_matrix["FICO"].astype(float)
mck_oneoff_final_df["LTV"] = mck_oneoff_final_df["LTV"].astype(float)
Interest_rate_matrix["LTV"] = Interest_rate_matrix["LTV"].astype(float)

In [192]:
merged_mckoneoff_interest_df = mck_oneoff_final_df.merge(Interest_rate_matrix,how='left',on=['LoanType','Year','Month','FICO','LTV'])
print(mck_oneoff_final_df.shape)
print(merged_mckoneoff_interest_df.shape)
merged_mckoneoff_interest_df.head(2)

(164246, 7)
(164246, 11)

,LoanNumber,LoanType,Year,Month,Term_x,FICO,LTV,Term_y,DataDate,TermOfLoan,Avg_Rate
0,791,CONVENTIONAL,2023,6,15,760.0,30.0,NaN,NaT,NaN,NaN
1,1235,CONVENTIONAL,2023,6,15,620.0,30.0,NaN,NaT,NaN,NaN